<header class="main-header">
<nav class="main-header__nav">
<ul class="main-header__item-list">
<li class="main-header__item"><a class="main-header__link" href="/">Shop</a></li>
<li class="main-header__item"><a class="main-header__link active" href="/admin/add-product">Add product</a></li>
</ul>
</nav>
</header>
