.product-form {
  width: 30rem;
  max-width: 100%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: 1px solid #dbcedb;
  font: inherit;
  border-radius: 2px;
}
button {
  border: 1px solid rgb(139, 95, 30);
  background-color: #fff;
  border-radius: 1px;
  color: rgb(139, 95, 30);
}
button:hover {
  background-color: rgb(139, 95, 30);
  color: #fff;
}
